<div class="app">
  <div>
    <div class="app__field">
      <label for="username">Enter username</label>
      <input id="username" type="text" [(ngModel)]="username" placeholder="Username">
    </div>
    <p>{{username}}</p>
    <button type="button" [disabled]="!username.length" (click)="onResetUsername()">Reset</button>
  </div>
  <div>
    <button type="button" (click)="onDisplayDetails()">Display details</button>
    <p *ngIf="displayDetails">Secret password = TUNA</p>
    <ul *ngFor="let log of logs; let i = index">
      <li [ngStyle]="{'background-color': i >= 4 ? 'blue' : 'white'}" [ngClass]="{'white': i >= 4}">{{log}}
      </li>
    </ul>
  </div>
  <app-game-control (timerEvent)="onTimerEventFire($event)"></app-game-control>
  <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
  <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
  <div>
    <div>
      <h2>Active Users</h2>
      <app-user-item *ngFor="let user of active; let i = index" [user]="user" [adjective]="'inactive'"
        (click)="setInactiveUser(i)">
      </app-user-item>
    </div>
    <div>
      <h2>Inactive Users</h2>
      <app-user-item *ngFor="let user of inactive; let i = index" [user]="user" [adjective]="'active'"
        (click)="setActiveUser(i)"></app-user-item>
    </div>
  </div>
</div>
